parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     knoodle
    database_user:     root
    database_password: null

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
services:
    #pdo:
    #    class: PDO
    #    arguments:
    #        - '%pdo_dsn%'
    api_response_listener:
        class: Knp\KnoodleBundle\EventListener\Kernel\ApiResponseListener
        tags:
            - {name: kernel.event_listener, event:kernel.view, method: onKernelView}

