<div id="menu">
    <div class="wrap">
        <ul>
            <li><a href="{{ path('knoodle_index') }}">Surveys by Date</a></li>
            <li><a href="{{ path('knoodle_popular') }}">Surveys by Date</a></li>
        </ul>
    </div>
</div>
